/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */

@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-base) ;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root{
  --font-size-base: 16px;
  --font-size-headings: 1.5rem;

  --spacing: 1rem;

  --max-width: 1200px;
  --min-width-image: 200px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;

  --border-width: 1px;
  --border-radius-regular: 5px;
  --border-radius-image: 10px;
  --border-regular: 1px solid #000;

  --color-yellow: #f3dd99;
  --color-white: #ffffff;
  --color-purple: #eebbdd;
  --color-purple-dark: #cc99bb;

  --color-background-primary: var(--color-yellow);
  --color-background-secondary: var(--color-purple);
  --color-background-form: var(--color-white);
  --color-border-with-background: var(--color-purple-dark);

  --font-base-size: 1rem;
  --font-family-base: 'Open Sans', Arial, Helvetica, sans-serif;

}
  
html{

}

    body{
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
    }

        header{
          background-color: var(--color-background-secondary);
          border-bottom: 4px solid var(--color-purple-dark);
          text-align: center;
          padding: 2rem;
          font-size: 2rem;
          font-weight: 900;
        }

        main{
          min-width: 100%;
          background-color: var(--color-background-primary);
        }

            nav{
              width: 20%;
              height: 100%;
              float: left;
              align-items:center;

            }

                nav ul{
                  padding: 2rem;
                  list-style: none;
                  float: left;
                }
                
                nav ul li a{
                  color: black ;
                }

            .content{
              padding-bottom: 1rem;
              float: none;
              overflow: hidden;
            }

                .first-content{
                  padding: 1rem;
                  width: 100%;
                  display: flow-root;
                }
                
                    .first-content img{
                      margin: 0rem 1rem 1rem 1rem;
                      float: right;
                      width: 30%;
                    }
                
                .second-content{
                }

                    .row-of-two{
                      display: flex;
                      align-items: center;
                      flex-flow: row wrap;
                      justify-content: space-evenly;
                      align-content:center;
                    }
                    
                        .card{
                          flex-grow: 1;
                          flex-basis: 200px;
                          height: 100%;
                          margin: 2rem;
                          border: 2px solid black;
                          border-radius: 5px;
                          position: relative;
                        }

                            .image{
                            }
                        
                            .image img{
                              aspect-ratio: .5 ;
                              border-radius: 5px 5px 0px 0px;
                              width: 100%;
                              object-fit: cover;
                              max-height: 300px;
                            }

                            .title{
                              padding:2rem ;
                            }

                            .card p,h3,button{
                              padding: .5rem;
                            }

                            #with-button{
                              height: 150px;
                            }

                            #with-images{
                              padding: 0px;
                              height: 400px;
                            }

                            #with-image-button{
                              max-height: 400px;
                              max-width: 400px;
                            }

                            button{
                              position: absolute;
                              bottom: .5rem;
                              left: .5rem;
                              padding: .5rem;
                              border-radius: 5px;
                              background-color: #eebbdd;
                            }

                            .right{
                              position: absolute;
                              bottom: .5rem;
                              left: 75%;
                              padding: .5rem;
                            }
                      

                            button a {
                              color: #000;
                              text-decoration: none;
                            }
                    
                    .game-table{
                      border-spacing: 0;
                      padding: 1rem 2rem 5rem 1rem;
                    }

                    table tbody tr:nth-child(2n + 1) {
                      background-color: var(--color-background-secondary);
                    }

                    table td{
                      padding: .5rem 1rem;
                    }

                    table a{
                      width: 200px;
                    }

                    form{
                      width: 85%;
                      display: grid;
                      grid-template-columns: repeat(2, 1fr);
                      gap:2rem;
                    }

                    .form-card{
                      
                    }

                    .form-data-top{
                      padding: .5rem;
                      position: relative;
                      border: 2px solid black;
                      height: 21rem;
                    }

                    .form-data-bottom{
                      padding: .5rem;
                      position: relative;
                      border: 2px solid black;
                      height: 13rem;
                    }
                    

                    
 
            

        footer{
          text-align: center;
          padding: 1rem 10rem;
          background-color: var(--color-background-secondary);
          border-top: 4px solid var(--color-purple-dark);
          height: 20rem;
          columns: 3;
        }

            footer section{
              height: 100%;
            }

            footer section ul{
              list-style: none;
            }

            footer section dt{
              font-weight: 900;
            }



h1,h2,h3,h4{
  font-family: 'Matemasie';
}

h4{
  font-size: 1.5rem;
}

h2{
  text-align: center;
}

input,select,textarea{
  margin: .2rem;
  padding: .5rem;
  width: 100%;
  float: left;
}

